<div class="row">
  <div class="large-9 large-centered centered small-12 columns">
    <h2>4edit is in closed beta.</h2>
    <h2><small>Sorry, this application is only open for Fourquare SU3.</small></h2>
  </div>
</div>
