<div class="row">
  <div class="large-12 large-centered columns logo">
    4edit
  </div>
</div>

<% if flash[:notice] %>
  <h2><%= flash[:notice] %></h2>
<% end %>

<form name="batch_edit" action="/edit" method="post" accept-charset="utf-8">
  <div class="small-centered small-12 large-9 large-centered column">
    <div class="row">
      <div class="alert-box alert" id="error" style="display: none;">
      </div>
    </div>

    <div class="row">
      <div class="switch large round large-12 large-centered columns">
        <input type="radio" name="venues[source]" id="switch_off" value="list">
        <label for="source_list" onclick="">Type in venue IDs</label>
        <input type="radio" name="venues[source]" id="switch_on" value="page" checked>
        <label for="source_page" onclick="">Get venues from page</label>
        <span></span>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns" id="page_id_row">
        <label for="">Page ID</label>
        <input type="text" name="venues[page_id]" id="page_id" value="" placeholder="8531311" />
      </div>
      <div class="large-12 columns" id="venue_list_row" hidden>
        <label for="">The list of venue IDs, separated by commas</label>
        <textarea rows="3" name="venues[venue_id]" id="venue_id" value=""
          placeholder="4b6fdde7f964a52065fe2ce3, 4bb62d376edc76b0e283301c"></textarea>
      </div>
    </div>
    <div class="row">
      <div>
        <h4>The information to change for all venues <small>(leave blank the fields you don't want to change):</small></h4>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <label>Name</label>
        <input type="text" name="data[name]" id="data name" value="" placeholder="Starbucks" />
      </div>
      <div class="large-6 columns">
        <label>City</label>
        <input type="text" name="data[city]" id="data city" value="" placeholder="Barcelona" />
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <label>State</label>
        <input type="text" name="data[state]" id="data state" value="" placeholder="Barcelona" />
      </div>
      <div class="large-4 columns">
        <label for="">Phone number</label>
        <input type="text" name="data[phone]" id="data phone" value="" placeholder="+34 935 21 92 01" />
      </div>
      <div class="large-4 columns">
        <label for="">Primary Category ID</label>
        <input type="text" name="data[cat_id]" id="data cat_id" value="" placeholder="4bf58dd8d48988d1e0931735" />
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <input class="large button expand success" type="submit" id="submit" value="Edit 'em all!" />
      </div>
    </div>

    <%= erb(:form_validator) %>
  </div>
</form>
