<!DOCTYPE html>
<html>
  <head>
    <title>Edit a lot</title>
  </head>
  <body>
    <h1>Edit</h1>
    <form action="/edit" method="post" accept-charset="utf-8">
      <input type="text" name="data[oauth]" id="token" value="" placeholder="oauth token" />
      <input type="text" name="data[venue_id]" id="venue_id" value="" placeholder="venue id" />
      <input type="text" name="data[name]" id="name" value="" placeholder="name" />
      <input type="text" name="data[address]" id="address" value="" placeholder="address" />
      <input type="text" name="data[crossStreet]" id="crossStreet" value="" placeholder="crossStreet" />
      <input type="text" name="data[city]" id="city" value="" placeholder="city" />
      <input type="text" name="data[state]" id="state" value="" placeholder="state" />
      <input type="text" name="data[zip]" id="zip" value="" placeholder="zip" />
      <input type="text" name="data[phone]" id="phone" value="" placeholder="phone" />
      <input type="text" name="data[ll]" id="ll" value="" placeholder="longitude,latitude" />
      <input type="text" name="data[primaryCategoryId]" id="primaryCategoryId" value="" placeholder="primary category id" />
      <br />
      <input type="submit" id="submit" value="Submit" />
    </form>
  </body>
</html>
