<!DOCTYPE html>
<html>
  <head>
    <title>Edit a lot</title>
    <link rel="stylesheet" href="/css/foundation.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'></link>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/validate.min.js"></script>
    <script src="/js/app.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
